doctype html
html
  head
    link(href="../css/sb-admin-2.min.css" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet")
    title Actions 
  body
      div(class="row")
        div(class="col-lg-6")
          div(class="card mb-4")
            div(class="card-header")
              h2= actions.user.email
            div(class="card-body")
              h1=actions.nombre
              p=actions.id
              p=actions.updatedAt
              p=actions.createdAt
            form(class="user" action=`/actions/${actions.id}?_method=DELETE` method="POST")
              div(class="form-group row  col-sm-3")
                input(type="submit" value="Borrar" class="btn btn-primary btn-user btn-block")
